.bg {
    background: url(https://images.unsplash.com/photo-1638176820495-52a7c2ad8505?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1539&q=80);
    background-size: cover;
    background-position: center center;
    height: 900px !important;
}